version: "3.9"
services:
  docker-stat:
    container_name: docker-stat
    build: ./
    cap_add:
      - NET_ADMIN
      - NET_BIND_SERVICE
    ports:
      - "8282:80"
      - "443:443"
    restart: unless-stopped
    volumes:
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
    environment:
      TZ: UTC
      USER_ID: ${USER_ID:-1000}
      GROUP_ID: ${GROUP_ID:-1000}
